@import "tailwindcss";

/* html, */
/* body, */
/* #root { */
/*   min-height: 100%; */
/*   background: #1c052f; */
/* } */

html {
  font-size: 20px !important;
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  border-radius: 9999px !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}
.scroll-hidden::-webkit-scrollbar-thumb {
  background: transparent;
}

.scroll-hidden:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

@theme {
  --default-font-family: Arial, sans-serif
}

/* /src/components/common/widgets/modal */
@keyframes modal-open {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-open {
  animation: modal-open 233ms;
}
